<section
  class='transition duration-300 ease-in dark:bg-primary-dark-gradient bg-primary-gradient h-full py-8 pb-20 px-4 fixed left-0 top-0 bottom-0 w-1/5 z-10 hover:overflow-y-auto overflow-hidden scrollbar-gutter'>
  <div
    class='w-72 h-72 bg-blue-300/40 absolute -top-20 -right-40 rounded-full blur-[60px] -z-10 dark:bg-blue-600/30 dark:right-40'>
  </div>
  <div class='flex gap-3 items-center mb-4'>
    <div>
      <h2 class='font-bold text-lg uppercase text-white leading-4'>Fauzan Nurhikmah</h2>
      <p class='text-sm text-slate-400'>@fauzan</p>
    </div>
  </div>

  <div class='sidebar_menu mb-2 group'>
    <a routerLink='/dashboard' routerLinkActive="bg-slate-200/30" class="sidebar_menu_item group-hover:bg-slate-200/30">
      <div class="light_effects" routerLinkActive="bg-white"></div>
      <i-tabler name="dashboard" class="!w-[20px] !h-[20px]"></i-tabler>
      Dashboard
    </a>
  </div>
  <div class='sidebar_menu mb-2 group'>
    <a routerLink='/list-item' routerLinkActive="bg-slate-200/30"
      class=" sidebar_menu_item group-hover:bg-slate-200/30">
      <div class="light_effects" routerLinkActive="bg-white"></div>
      <i-tabler name="sitemap" class="!w-[20px] !h-[20px]"></i-tabler>
      Post List
    </a>
  </div>
</section>