<section>
  <div class='bg-white dark:bg-third-dark p-7 rounded-xl relative z-10 mb-4'>
    <h2 class='font-bold dark:text-slate-100 text-xl primary_text mb-2'>Good Morning admin !
    </h2>
    <p class='secondary_text dark:text-slate-300  w-1/2 leading-5'>Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Enim corporis ad facere dolores provident maxime.</p>
    <img src='https://rusol-frontend-kawkj63st-fauzannurhikmah.vercel.app/_next/image?url=%2Fpaper-plane.png&w=384&q=75'
      width='313.51' height='182.78' class='object-contain absolute right-10 top-1/2 -translate-y-1/2 -z-10'
      alt='paper-plane' />
  </div>
  <h2 class='text-lg font-bold primary_text mb-4 dark:text-slate-300'>Traffics Today</h2>

  <div class="flex flex-row gap-10">
    <app-bar-chart class="w-1/2" />
    <app-line-chart class="w-1/2" />
  </div>
</section>